@inject Blazored.LocalStorage.ILocalStorageService localStore

<EditForm Model="StoreData" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
<div class="container">
        <div class="row">
                <div class="col col-sm w-25">
                    <div class="card align-middle shadow-lg p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-12 col-sm">
                                    <div class="login-form">
                                        <h1>Start your own store!</h1>
                                        <div class="input-group mb-3">
                                        <InputText type="text" placeholder="Store Name" class="form-control" @bind-Value="@StoreData.StoreName"/>
                                        </div>
                                        <div class="input-group mb-3">
                                            <ValidationMessage For="@(() => StoreData.StoreName)" />
                                        </div>
                                        <div class="input-group mb-3">
                                            <ValidationMessage For="@(() => StoreData.StoreShortName)" />
                                        </div>

                                        <div class="input-group mb-3">
                                        <InputTextArea  type="text" placeholder="Store Description" class="form-control" @bind-Value="@StoreData.StoreFullDescription"/>
                                        <div class="input-group mb-3">
                                            <ValidationMessage For="@(() => StoreData.StoreFullDescription)" />
                                        </div>
                                        </div>
                                        <br/>
                                        <button type="submit" class="btn btn-info" >Create your Store</button>
                                        <InputText type="text" placeholder="Store Name" hidden="true" class="form-control" @bind-Value="@StoreData.StoreShortName"/>                     
                                    <br/>
                                    </div>
                                </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div> 
</EditForm> 

@code{
        [Parameter] public StoreRegistrationData StoreData { get; set; }
        [Parameter] public EventCallback OnValidSubmit { get; set; }
        [Parameter] public String StoreShortName {get;set;}

        protected override void OnInitialized()
        {
            StoreData.StoreShortName = StoreShortName;
        }

    }